RewriteEngine On
RewriteRule ^style/([.-_/a-zA-Z0-9]+)$ style.php?file=$1 [L]
RewriteRule ^([-_/a-zA-Z0-9]+)([^/])$ /$1$2/ [R=301,L]
RewriteRule ^([-_/a-zA-Z0-9]+)/$ index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.(jpg|png|jpeg|gif)$ /image.php?image=$1.$2 [NC,L]
