AddDefaultCharset UTF-8

RewriteEngine On
RewriteRule ^style/([.-_/a-zA-Z0-9]+)$ style.php?file=$1 [L]
RewriteRule ^([-_/a-zA-Z0-9]+)([^/])$ /$1$2/ [R=301,L]
RewriteRule ^([-_/a-zA-Z0-9]+)/$ index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.(txt|asc|htm|html|php|css|js|json|xml|swf|flv|png|jpe|jpeg|jpg|gif|bmp|ico|tiff|tif|svg|svgz|zip|rar|exe|msi|cab|mp3|qt|mov|pdf|psd|ai|eps|ps|doc|rtf|xls|ppt|odt|ods)$ /file.php?file=$1.$2 [NC,L]
