/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 32, 36, 48, 72
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom CSS */
body {
    font-family: serif;
    /* font-size: 16px; */
    font-size: 1em;
    margin: 1.5em 0 3em 0;
    background-color: #fdf6e3;
    color: #586e75;
}

header {
    /* section centered */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 0.375em double #657b83; /* 6px / 16px */
    margin-bottom: 0.625em; /* 10px / 16px */
    padding-bottom: 2em;
    color: #657b83;
    /* padding-bottom: -6px;
    /*background-color: yellow;*/
}

header .main-header,
header .second-header {
    display: block;
}

header h3 {
    font-size: 1em; /* 16/16 */
    line-height: 1.5em; /* 24/16 */
}

header h1 .main-header {
    padding: 0 0 0 0;
    font-size: 2.25em; /* 36px / 16px */
    line-height: 1.333333333em; /* 48px / 36px */
    letter-spacing: 0.1em;
/*    background-color: yellow;*/
}

header h1 .second-header {
    font-size: 1em; /* 16px / 16px */
    line-height: 1.5em; /* 24px / 16px */
    /* margin-top: -0.75em; */
    /* margin-bottom: 0.75em; */
    letter-spacing: 0.1em;
    font-weight: bold;
/*    background-color: green;*/
}

section.current,
footer {
    /* section centered */
    margin-left: auto;
    margin-right: auto;
}

section.current h1,
section.current h2,
section.current h3,
section.current h4,
section.current h5,
section.current blockquote,
section.current pre,
section.current code,
section.current br,
section.current hr,
section.current table {
    clear: both;
}

section.current h1 {
    padding: 0.666666667em 0 0.666666667em 0; /* 24px / 36px */
    font-size: 2.25em; /* 36px / 16px */
    line-height: 1.333333333em; /* 48px / 36px */
    text-align: center;
    color: #657b83;
    /*background-color: yellow;*/
}

section.current h2 {
    padding: 0 0 0 1em; /* 0px / 32px */
    font-size: 2em; /* 32px / 16px */
    line-height: 1.5em; /* 48px / 32px */
    text-align: left;
    color: #657b83;
    /*background-color: blue;*/
}

section.current h3 {
    padding: 1em 0 1em 2.5em; /* 24px / 24px */
    font-size: 1.5em; /* 24px / 16px */
    line-height: 1em; /* 24px / 24px */
    text-align: left;
    color: #657b83;
    /*background-color: yellow;*/
}

section.current h4 {
    padding: 0 0 0 4em; /* 0px / 21px */
    font-size: 1.3125em; /* 21px / 16px */
    line-height: 1.1428571em; /* 24px / 21px */
    text-align: left;
    color: #657b83;
    /*background-color: blue;*/
}

section.current h5 {
    padding: 0 0 0 6.5em; /* 0px / 18px */
    font-size: 1.125em; /* 18px / 16px */
    line-height: 1.3333333em; /* 24px / 18px */
    text-align: left;
    font-weight: bold;
    color: #657b83;
    /*background-color: blue;*/
}

section.current h6 {
    padding: 0 0 0 8em; /* 0px / 18px */
    font-size: 1.125em; /* 18px / 16px */
    line-height: 1.3333333em; /* 24px / 18px */
    text-align: left;
    font-weight: normal;
    color: #657b83;
    /*background-color: blue;*/
}

section.current p {
    font-size: 1.125em; /* 18px / 16px */
    line-height: 1.333333333em; /* 24px / 18px */
    padding-bottom: 1.33333333em; /* 24px / 18px */
    text-align: left;
    text-indent: 1em;
}

section.current blockquote {
    padding-left: 0.625em; /* 10px / 16px */
    margin-left: 2.625em; /* 42px / 16px */
    border-left: 0.5em double #93a1a1; /* 8px / 16px */
    margin-bottom: 1.5em; /* 24px / 16px */
}

section.current blockquote p {
    text-indent: 0;
    padding: 0;
}

section.current p img {
    float: right;
    padding: 1.5em 0 1.5em 1.5em;
    margin: 0;
    border: 0;
}

section.current ul,
section.current ol,
section.current dl {
    padding-bottom: 1.5em; /* 24px / 16px */
}

section.current li,
section.current dd,
section.current dt {
    font-size: 1.125em; /* 18px / 16px */
    line-height: 1.333333333em; /* 24px / 18px */
    text-align: left;
    margin: 0;
    padding: 0;
}

section.current ul li {
    list-style-type: circle;
    margin-left: 2em;
}

section.current ol li {
    list-style-type: upper-roman;
    margin-left: 2em;
}

section.current dl dt {
    font-weight: bold;
}

section.current dl dd {
    margin-left: 2em;
}

section.current p br {
    line-height: 0em; /* 0px / 18px */
    margin-bottom: 2em; /* 36px / 18px */
}

section.current pre {
    margin: 0; padding: 0;
}

section.current p code {
    font-family: monospace;
    line-height: 1.333333333em; /* 24px / 18px */
    display: inline;    
}

section.current pre code {
    margin: 0;
    font-family: monospace;
    font-size: 1.5em; /* 24px / 16px */
    line-height: 1.333333333em; /* 24px / 18px */
    text-align: left;
    margin-bottom: 1.333333333em; /* 24px / 18px */
    padding: 1.333333333em 1.333333333em; /* 24px / 18px */
}

section.current hr {
    padding: 0;
    margin: 0.6875em 0; /* 11px / 16px */
    height: 0.125em; /* 2px / 16px */
}

section.current table {
    border: 0.0625em solid #657b83; /* 1px / 16px */
    border-collapse: separate;
    padding: 0.0625em; /* 1px / 16px */
    border-spacing: 0.0625em; /* 1px / 16px */
    margin: 0.5em 0; /* 8px / 16px */
}

section.current table th,
section.current table td {
    font-size: 1em; /* 16px / 16px */
    border: 0.0625em solid #657b83;  /* 1px / 16px */
    line-height: 1.375em; /* 22px / 16px */
    padding: 0 0.3em;
}

section.current table th {
    font-weight: bold;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

aside {
    display: none;
}

/* beginning responsive width */

/* Here are the basic styles for ‘stupid browsers’. For example, for mobile phones that are not of a high-end level. Pocket Internet Explorer for Windows Mobile 6.5 is the same. */
header,
section.current,
footer {
    width: 95%;
}

@media only screen and (min-width: 480px) {
/* Here are styles of more reasonable, but still of mobile devices such as Android, iPhone and so on. */
}
	
@media only screen and (min-width: 768px) {
/* Tablets in portrait mode. */
    header,
    section.current,
    footer {
        width: 43.75em;
    }
}
 
@media only screen and (min-width: 1200px) {
/* Desktop with high resolution, TV sets. */
/* the same as previous rule */
    aside {
        position: relative;
        top: 0;
        left: 15em;
        display: block;
        float: right;
        margin-left: -15em;
        padding: 0 0 0 2em;
        width: 13em;
        /*background-color: white;*/
    }
    
    header aside p,
    section.current aside p {
        font-family: sans-serif;
        font-size: 0.6875em; /* 11px / 16px */
        line-height: 1.090909091em; /* 12px / 11px */
        /* font-size: 0.625em; /* 10px / 16px */
        /* line-height: 1.2em; /* 12px / 10px */
        /* font-size: 0.75em; /* 10px / 16px */
        /* line-height: 1em; /* 12px / 12px */
        padding-top: 1em; /* one line height */
        text-align: left;
        text-indent: 0;
    }
}
 
/* ending css */
